<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Facebook Example</title>
  </head>
  <body>
    <fb:login-button autologoutlink="true"></fb:login-button>

<ul>
    <li><a href="http://instantlytogether.appspot.com/whose_free.json?access_token=125675287489480|31552239aba5301d3359acc8-845160715|k0u982uaLFMZPO1SNveESNyXsvU">/whose_free.json?access_token=JonathanToken</a></li>
    <li><a href="http://instantlytogether.appspot.com/whose_free.json?access_token=125675287489480|cce49c8bc37ec92e6a2cadcc-1370220343|ARpo0xFna8ka9ISHWB_n-G5Fe_s">/whose_free.json?access_token=AndrewToken</a></li>
    <li><a href="http://instantlytogether.appspot.com/whose_free.json?access_token=279c59d6cc5eae807437c6c6-10514925|HtgW73VAN4iZDI5MiEK5D_hA1a0">/whose_free.json?access_token=Zach</a></li>
</ul>

    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({appId: '166577153373466', status: true, cookie: true,
                 xfbml: true});
        FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
          window.location.reload();
        });
      };
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
    </script>
  </body>
</html>